/bin
/XppMetadata
/BuildModelResult.xml
/BuildModelResult.log
/Projects/NDinjectExamples/bin
/Projects/NDinjectExamples/obj
/.vs
*.log
/BuildProjectResult.xml
/BuildModelResult.err.xml
/BuildProjectResult.err.xml
